$gray: #828282;

$white:    #fff !default;
$gray-light: #e3e3e3;
$nature-2: #f6f6f8;
$nature-3: #a8a8a8;
$nature-4: #dbdce1;
$nature-6: #b6b9c4;
$nature-8: #838691;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #5A5A5C !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$text-1: rgba(0, 0, 0, 0.85);
$text-2: rgba(0, 0, 0, 0.65);
$text-3: rgba(0, 0, 0, 0.45);
$text-4: rgba(0, 0, 0, 0.20);

$gray-1: #FAFAFA;
$gray-2: #F0F0F0;
$gray-4: rgba(219, 220, 225, 1);
$gray-5: #B3B3B3;
$gray-8: $gray-800;
$gray-9: #3C3C3D;
$gray-10: #282829;
$gray-11: rgba(29, 29, 30, 1);
$gray-12: #0f0f0f;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #2353ff;
$blue-25: #1a3ebf;
$blue-60: #e9eeff;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ff601c;
$orange:  #fd7e14 !default;
$yellow:  #ffd643;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #1fc8fe;
$light-blue: $cyan;

$blue-1: #EBEFFF;
$blue-2: #9EB3FF;
$blue-3: #91A9FF;
$blue-4: #2353FF;
$blue-5: #1C42CC;
$blue-6: #153299;

$red-1: #FFEFE8;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "light":      $nature-2
  ),
  $colors
);

$primary:       $gray-900;
$secondary:     $gray-800;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $nature-2;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $nature-2,
    'dark': $dark,
    'gray': $gray-600,
    'light-gray': $gray-400,
    'dark-gray': $gray-900
  ),
  $theme-colors
);

$yiq-contrasted-threshold:  180 !default;
$input-focus-border-color:    $gray;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
);

$carousel-indicator-width:           calc(0.5rem + 0.25vw);
$carousel-indicator-height:          calc(0.5rem + 0.25vw);
$carousel-indicator-hit-area-height: calc(0.5rem + 0.25vw);
$carousel-control-icon-width:        1.5rem;


$border-color:                $primary;

/* switch */
$b-custom-control-indicator-size-lg: 1.5rem;

@mixin hide-below-desktop {
  @media only screen and (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
}

.toast__black {
  background-color: black;
  color: white;
}
