// Override theme variables
@import './scss/custom.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import 'variables';

// Animations
@import './scss/animations.scss';

* {
  font-family: 'Noto Sans TC', '微軟正黑體', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI','Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

html, body {
  height: 100%;
}

h1, h2 {
  font-weight: 900;
}

a {
  color: $secondary;
}

.focus {
  box-shadow: none !important;
}

#app {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
  min-height: 100%;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
}

#brand {
  font-size : 1.5rem;
  color: grey
}

input {
  border: 1px solid $primary !important;

  &:-webkit-autofill { 
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.active .ProseMirror {
  min-height: 200px !important;
}

@import './Post/main.scss';