

li {
  a {
    text-decoration: none !important;
  }
}

a {
  text-decoration: underline !important;
}

.date-time-container {
  width: 12rem !important;

  .date-dropdown {
    width: calc(7rem - 1px);
  }

  .time-dropdown {
    width: calc(5rem - 1px);
  }

  button {
    padding: 0 !important;
    border: none !important;
  }
}

@import "./editor.scss";
@import "./menubar.scss";
@import "./menububble.scss";