

li {
  a {
    text-decoration: none !important;
  }
}

.date-time-container {
  width: 12rem !important;

  .date-dropdown {
    width: calc(7rem - 1px);
  }

  .time-dropdown {
    width: calc(5rem - 1px);
  }

  button {
    padding: 0 !important;
    border: none !important;
  }
}

%edit-no-outline {
  color: $text-2;
  background-color: $white;
  padding: 0.25rem 1rem;
  &:hover {
    color: black;
  }
}
%edit-fill {
  background-color: $blue;
  color: $white;
  padding: 0.25rem 1rem;
  &:hover {
    background-color: $blue-25;
    color: $white;
  }
}
%edit-outline {
  background-color: $white;
  color: $blue;
  padding: 0.25rem 1rem;
  border: 1px solid $blue;
  &:hover {
    background-color: $blue-60;
    color: $blue;
  }
}


%lg-btn {
  padding: 0.5rem 1rem;
}

.btn-edit-no-outline {
  @extend %edit-no-outline;
}
.btn-edit-fill {
  @extend %edit-fill;
}
.btn-edit-outline {
  @extend %edit-outline;
}

.btn-edit-no-outline-lg {
  @extend %edit-no-outline;
  @extend %lg-btn;
}
.btn-edit-fill-lg {
  @extend %edit-fill;
  @extend %lg-btn;
}
.btn-edit-outline-lg {
  @extend %edit-outline;
  @extend %lg-btn;
}

@import "./editor.scss";
@import "./menubar.scss";
@import "./menububble.scss";
