

li {
  a {
    text-decoration: none !important;
  }
}

.date-time-container {
  width: 12rem !important;

  .date-dropdown {
    width: calc(7rem - 1px);
  }

  .time-dropdown {
    width: calc(5rem - 1px);
  }

  button {
    padding: 0 !important;
    border: none !important;
  }
}

%normal-btn {
  font-size: 14px;
  line-height: 24px;
  padding: 3px 15px;
  border: 1px solid transparent;
}

%large-btn {
  font-size: 16px;
  line-height: 24px;
  padding: 7px 15px;
  border: 1px solid transparent;
}

%primary {
  @extend %normal-btn;
  background-color: $blue-4;
  border-color: $blue-4;
  color: $white;
  &:hover {
    background-color: $blue-3;
    border-color: $blue-3;
    color: $white;
  }
  &:active, &:focus {
    background-color: $blue-5 !important;
    border-color: $blue-5 !important;
    color: $white;
  }
  &:disabled {
    background-color: $blue-2;
    border-color: $blue-2;
    color: $white;
  }
}

%secondary {
  @extend %normal-btn;
  background-color: $white;
  border-color: $blue-4;
  color: $blue-4;
  &:hover {
    background-color: $blue-1;
    border-color: $blue-3;
    color: $blue-3;
  }
  &:active, &:focus {
    background-color: $white !important;
    border-color: $blue-5 !important;
    color: $blue-5 !important;
  }
  &:disabled {
    background-color: $white;
    border-color: $blue-2;
    color: $white;
  }
}

%tertiary {
  @extend %normal-btn;
  background-color: $white;
  color: $text-2;
  &:hover {
    border-color: $gray-2;
    background-color: $gray-2;
  }
  &:active, &:focus {
    background-color: $white;
    border-color: $white;
    color: $text-1;
  }
  &:disabled {
    color: $text-4;
  }
}

%text {
  @extend %normal-btn;
  background-color: $white;
  color: $blue-4;
  &:hover {
    color: $blue-3;
  }
  &:active, &:focus {
    color: $blue-5;
  }
  &:disabled {
    color: $blue-2;
  }
}

.btn-primary {
  @extend %primary;
}

.btn-secondary {
  @extend %secondary;
}

.btn-tertiary {
  @extend %tertiary;
}

.btn-text {
  @extend %text;
}

.btn-primary-lg {
  @extend %primary;
  @extend %large-btn;
}

.btn-secondary-lg {
  @extend %secondary;
  @extend %large-btn;
}

.btn-tertiary-lg {
  @extend %tertiary;
  @extend %large-btn;
}

.btn-text-lg {
  @extend %text;
  @extend %large-btn;
}


@import "./editor.scss";
@import "./menubar.scss";
@import "./menububble.scss";
