.menubar {
  margin-bottom: 1rem;
  transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-focused {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
  }

  &__button {
    display: inline-flex;
    background: transparent;
    border: 1px solid $white;
    color: $primary;
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
    }

    &.is-active {
      background-color: $primary;
      color: $white;
    }
  }

  span#{&}__button {
    font-size: 13.3333px;
  }
}
